<!DOCTYPE html>
<html>
<head>
    <title>Usuarios</title>
</head>
<body>
<div>
    <label>Buenos días {{usuario.nombre}} {{usuario.apellido}}</label>
    <br>
    <label>Tu email es: {{usuario.email}}</label>
    <br>
    <label>Tu telefono es: {{usuario.telefono}}</label>
    <br>
    <label>Tu username es: {{usuario.username}}</label>
    <br>
    <label>Tu fecha de nacimiento es: {{usuario.fechaNacimiento}}</label>
    <br>
    <label>Tu rol es: {{usuario.rolDefinido}}</label>
</div>
</body>
</html>
